@import "../../style/placeholders";

.loader_table__container {
  width: 50px;
  margin: 10px;
}

.loader_table {
  width: 50px;
}

.dropdown_container {
  display: flex;
  justify-content: flex-end;
}

.dropdown_columns_visible {
  margin: 5px 0 5px 0;
}

.main_table_section {
  margin-top: -43px;
}

.ant-table-cell {
  overflow: hidden;
}



.table-row-today {
  background: #d6e4ff
}

.table-row-passed {
  background: #f5f5f5;
}

.table-row-passed .ant-table-cell-fix-left, .ant-table-cell-fix-right {
  background: #f5f5f5;
}

.table-row-today .ant-table-cell-fix-left, .ant-table-cell-fix-right {
  background: #d6e4ff
}

table {
  td {
    padding: 7px 14px!important;
  }
}

.table-view {
  overflow: scroll;
}
