@import "../../style/placeholders";

.loader_table__container {
  width: 50px;
  margin: 10px;
}

.loader_table {
  width: 50px;
}

.dropdown_container {
  display: flex;
  justify-content: flex-end;
}

.dropdown_columns_visible {
  margin: 5px 0 5px 0;
}

.main_table_section {
  margin-top: -43px;
}

