.main_tab_section {
  padding: 10px;
}

.ant-tabs .ant-tabs-nav {
  margin: 0;
}

.ant-tabs-content-holder {
  overflow-x: scroll;
  overflow-y: hidden;
  transform:scaleY(-1);
  .ant-tabs-content {
    transform:scaleY(-1);
  }
}
