.container {
  margin: 20px;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #DADADA; 
  border-radius: 4px;
}

.type-options .ant-divider {
  margin: 4px 0;
}

.new-type-add-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 8px;

  & a {
    flex: none; 
    padding: 8px; 
    display: block; 
    cursor: pointer;
  }
}