@mixin horizontal-flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.top-panel {
  width: 100%;  
  padding: 20px 0 0 10px;

  .left-bar {
    @include horizontal-flex;
    overflow: hidden;
  }

  .right-bar {
    @include horizontal-flex;
  }

  & .save-container, .settings-btn  {
    margin: 0 10px;
  }

  .settings-btn {
    margin: 0 10px 0 0;
  }

  & .save-container {
   & p {
     margin: 0;
   }
  }
}
