.top-panel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 0 20px;

  .right-bar {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .save-container, .settings-btn  {
    margin: 0 10px;
  }

  & .save-container {
   & p {
     margin: 0;
   }
  }
}

