@import "../../style/placeholders";

.row_event_container {
  @extend %flex-row-start;
  margin: 10px auto auto;
}

.event_row {
  border: 1px solid black;
  padding: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    cursor: pointer;
    overflow: visible;
    width: min-content;
    padding: 3px;
  }
}

.event_date {
  width: 12vw;
}

.event_description {
  width: 15vw;
}

.event_type {
  width: 5vw;
}

.event_place {
  width: 5vw;
}

.event_name {
  width: 10vw;
}

.event_materials {
  width: 15vw;
}

.event_deadline {
  width: 10vw;
}
